<!doctype html>
<html>
<title>404 - Page not found</title>
<style>
body{
		text-align:center;
		position:absolute;
		top:50%;
		margin:0;
		margin-top:-275px;
		width:100%
		}
h2,h3{
	color:#555;
	font:bold 200%/100px sans-serif;
	margin:0
	}
h3,p{
	color:#777;
	font:normal 150% sans-serif
	}
p{font-size: 100%;
	font-style:italic;
	margin-top:2em;
}
img{
	width: 50%;
}
</style>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Bundesstra%C3%9Fe_404_number.svg/2000px-Bundesstra%C3%9Fe_404_number.svg.png" alt="">
<h2>looks like the page you were trying to access does not exist</h2>
<h3>maybe <a href="/">return home</a> and try again?</h3>